@import "~normalize.css";

body {
  color: #eff1f3;
  background-color: #212121;
  font-size: 32px;
  font-family: "Teko", sans-serif;
}

input {
  border: none;
  padding: 10px;
  min-width: 500px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.wrapper {
  background-image: url("assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
