@import "~normalize.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  color: #eff1f3;
  background-color: #212121;
  font-size: 32px;
  font-family: "Teko", sans-serif;
}

input {
  border: none;
  padding: 10px;
  min-width: 500px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

button {
  cursor: pointer;
  background-color: #272727;
  border: none;
  color: inherit;
  transition: all 0.3s;

  &:hover {
    color: rgb(164, 0, 0);
  }
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.wrapper {
  background-image: url("assets/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
